<html>
<body>
<div>
<form method="post">
<input type="text" name="acc_name" placeholder="Enter account name"><br><br>
<input type="submit" value="account create" formaction="/token/create">
<br><br><br>
<input type="submit" value="set wasm" formaction="/token/wasm">
<br><br><br>
<input type="submit" value="set abi" formaction="/token/abi">
<br><br><br>



<input type="text" minlength="12" name="aname" placeholder="Enter the user name">
<br><br><br>
<input type="text" minlength="10" maxlength="15" name="pass"  placeholder="Enter password">
<br><br><br>
<input type="text" minlength="10" maxlength="15" name="skey" placeholder="Enter the secret Key">
<br><br><br>
<input type=submit value="register" formaction="/token/register">



<br><br><br>
<input type="text" minlength="12" name="aname1" placeholder="Enter the user name">
<br><br><br>
<input type="text" minlength="10" maxlength="15" name="pass1" placeholder="Enter password">
<br><br><br>
<input type="text" minlength="10" maxlength="15" name="skey1" placeholder="Enter the secret key">
<br><br><br>
<input type=submit value="change password" formaction="/token/change">
<br><br><br>
<input type="text" minlength="12" name="name" placeholder="Enter the user name">
<br><br><br>
<input type="text" name="chat" placeholder="start your conversation">
<br><br><br>
<input type=submit value="change password" formaction="/token/chat">
<br><br><br>
<input type="text" name="dac" placeholder="Enter the user name">
<br><br><br>
<input type=submit value="de-register" formaction="/token/de_register">
<br><br><br>
<input type=text name="scope" placeholder="Enter the scope name">
<br><br><br>
<input type=text name="code" placeholder="Enter the code name">
<br><br><br>
<input type=text name="table" placeholder="Enter the table name">
<br><br><br>
<input type=submit value="show Table" formaction="/token/doc">
<br><br><br>

<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="followername" placeholder="Enter the followername">
<br><br><br>
<input type=submit value="click follow" formaction="/token/follow">
<br><br><br>


<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="unfollower" placeholder="Enter the unfollowername">
<br><br><br>
<input type="submit" name="click unfollow" formaction="/token/unfollow">
<br><br><br>

<input type="text" name="regname" placeholder="Enter the username">
<br><br><br>
<input type="text" name="following" placeholder=" following person name">
<br><br><br>
<input type="submit" name="click to following" formaction="/token/following">
<br><br><br>

<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="unfollowing" placeholder=" Enter the unfollowing names ">
<br><br><br>
<input type="submit" name="click to unfollow" formaction="/token/unfollowing">
<br><br><br>

<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="postlike" placeholder="Enter the postname">
<br><br><br>
<input type="submit" name="" placeholder="Enter the postlike" formaction="/token/pstlke">
<br><br><br>


<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="dislikename" placeholder="Enter the dislikename">
<br><br><br>
<input type="submit" name="postdislikename" formaction="/token/pstdl">
<br><br><br>


<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="sharepost" placeholder="click to share post">
<br><br><br>
<input type="submit" name="postshare" formaction="/token/sha">
<br><br><br>


<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="sharepost" placeholder="Enter the username">
<br><br><br>
<input type="submit" name="" formaction="/token/postshare">
<br><br><br>

<input type="text" name="username" placeholder="Enter the username">
<br><br><br>
<input type="text" name="delete the username" placeholder="You can delete an account">
<br><br><br>
<input type="submit" name="invalid username" formaction="/token/del">
<br><br><br>

</form>
</div>
</body>
</html>

